@import '../../../App.scss';

.card-wrapper {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  .card {
    background: #fff;
    border: none;
    cursor: pointer;
    p {
      word-wrap: break-word;
    }
  }
  .modal {
    .modal-dialog {
      max-width: 80%;
      .modal-content {
        .modal-header {
          position: relative;
          & > div {
            align-items: center;
            display: flex;
            & > .card-title {
              width: 82.5%;
              resize: none;
              background-color: #e3e3e3;
              border-color: transparent;
              border-radius: 3px;
              text-decoration: none;
              outline: none;
              word-break: break-word;
              &:focus {
                border: 1px solid rgb(0, 106, 168);
                background-color: #fff;
              }
            }
            & > button {
              outline: none;
              position: absolute;
              top: 0;
              right: 0;
              font-size: 24px;
            }
          }
          border-bottom: 1px solid #fff;
        }
        background: #e3e3e3;
        .modal-body {
          .card-section {
            display: flex;
            flex-direction: column;
            p.description {
              cursor: pointer;
            }
            .card-description {
              resize: none;
              background-color: #fff;
              border-color: transparent;
              border-radius: 3px;
              display: block;
              min-height: 100px;
              padding: 8px 12px;
              text-decoration: none;
              outline: none;
              &.focus {
                border: 1px solid rgb(0, 106, 168);
                min-height: 150px;
              }
            }
            .description-btn-wrapper {
              display: flex;
              align-items: center;
              i {
                font-size: 20px;
                cursor: pointer;
              }
            }
          }
          .actions-section {
            position: relative;
            .actions-btn-wrapper {
              display: flex;
              flex-direction: column;
              .move-btn {
                background-color: #ebeef0;
              }
            }
            .delete-confirmation {
              @include delete-wrapper;
              right: 30px;
              top: 155px;
            }
            .move-content {
              @include delete-wrapper;
              right: 15px;
              top: 105px;
            }
          }
        }
      }
    }
  }
}