.list {
  width: 272px;
  background: #dfe3e6;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
  .list-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 500;
    }
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  .list-actions-wrapper {
    position: absolute;
    top: 40px;
    right: -100%;
    z-index: 1;
    width: 300px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25),
      0 0 0 1px rgba(9, 45, 66, 0.08);
    .list-actions-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      .list-actions-heading {
        text-align: center;
      }
      i {
        cursor: pointer;
      }
    }
    .list-actions {
      p {
        cursor: pointer;
      }
    }
  }

  .all-lists {
    button {
      background: transparent;
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: left;
      &:hover {
        background: rgb(0, 106, 168);
      }
      &.current-list {
        pointer-events: none;
      }
    }
  }
}

.add-list {
  background: rgb(0, 106, 168);
  position: absolute;
  width: 272px;
  cursor: pointer;
  p {
    color: #ffffff;
  }
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    background: rgb(0, 92, 145);
  }

  .list-form {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      .list-title {
        border-radius: 3px;
      }
      i {
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }

}

.add-card {
  background: transparent;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;

  p {
    span {
      margin-left: 10px;
    }
  }

  &:hover {
    background: rgba(9, 45, 66, 0.13);
  }
  .card-form {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      .card-title,
      .card-description {
        border-radius: 3px;
        background: #fff;
      }
      i {
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }
}


.hovered {
  background: gray;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
  width: 100%;
}