.boards-wrapper {
    background: #f8f9f9;
    height: 100vh;
    .boards-list {
        .board-container {
            .board-item {
                height: 100px;
                background: rgb(0, 106, 168);;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid transparent;
                border-radius: 3px;
                p:first-child {
                  text-transform: capitalize;
                  color: #fff;
                  font-size: 18px;
                }
                &:hover {
                    cursor: pointer;
                    background: #027bb0
                }
                &:last-child {
                    background: gray;
                    &:hover {
                        background:#A9A9A9
                    }
                }
            }
        }
    }
}